In [ ]:
# Создайте список user_info, содержащий 4 элемента:
# 2 строки (имя и фамилия пользователя)
# 1 дробное число (зарплата)
# 1 целое число (стаж)

In [5]:
user_info = ['Evg', 'Du', 40000.0, 0]

In [6]:
user_info

['Evg', 'Du', 40000.0, 0]

In [ ]:
# Поместите в переменную first первый (т.е. нулевой) элемент из списка salaries. 
# Сам список создавать не нужно, он уже находится в переменной salaries.

In [ ]:
first = salaries[0]

In [ ]:
# Добавьте в уже созданный список users элементы 'Voronov' и 42.

In [7]:
users = ['Kevin', 'Kostner', 55, 'Puk-puk', 18]

In [8]:
users += ['Voronov', 42]

In [9]:
users

['Kevin', 'Kostner', 55, 'Puk-puk', 18, 'Voronov', 42]

In [12]:
users.append('Evg')

In [16]:
users.remove('Evg')

In [17]:
users

['Kevin', 'Kostner', 55, 'Puk-puk', 18, 'Voronov', 42]

In [ ]:
# В переменной user_ages содержится список возрастов клиентов. Напишите цикл, выводящий на печать элементы больше 18.
# Пример данных, которые могут быть в user_ages:
# user_ages = [10, 18, 21, 35, 42, 27, 12, 16]
# Note: в этом задании эти числа нужно печатать.

In [18]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [20]:
for age in user_ages:
    if age > 18:
        print(age)

21
35
42
27

In [ ]:
# В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, 
# которые делятся на 10 нацело.

In [21]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [24]:
tens = []

for value in values:
    if value % 10 == 0:
        tens += [value]

In [25]:
tens

[10, 100, 20, 50, 160, 210]

In [ ]:
# ⭐️Задание со звёздочкой!⭐️

# Реализуйте цикл, который пробегается по уже созданному списку workers со значениями как в 2-м и 6-м заданиях и выводит 
# для каждого сотрудника следующую строку (то есть печатает её для каждого элемента списка):

# user_name user_family is position
# где user_name и user_family — имя и фамилия сотрудника, а position — одна из следующих строк:

# 'junior' — стаж меньше 2 лет
# 'middle' — стаж больше либо равен 2
# 'senior' — стаж строго больше 5 лет 

# Note: в этом задании эти строки нужно печатать.

In [26]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

In [27]:
workers

[['Ivan', 'Ivanov', 100000, 2],
 ['Petr', 'Petrov', 150000, 2],
 ['Sidor', 'Sidorov', 200000, 3]]

In [33]:
for line in workers:
    if line[3] < 2:
        position = 'junior'
    elif 2 >= line[3] <= 5:
        position = 'middle'
    elif line[3] > 5:
        position = 'senior'
    print('{name} {last_name} is {position}'.format(name=line[0], last_name=line[1], position=position))

Ivan Ivanov is middle
Petr Petrov is middle
Sidor Sidorov is middle